@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');



body {
    background-color: #131722;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}

a{
    text-decoration: none;
    color: inherit;
}

.nav-link{
    color: white !important
}